<!DOCTYPE html>
<html>

    <%- include('partials/head.ejs') %>

    <body>

        <%- include('partials/header.ejs') %>
        
        <main class="container">

        <h1>Hola</h1>

        </main>

        <%- include('partials/footer.ejs') %>
        
    </body>
</html>